body{
padding: 0%;
border-color: aqua;
}

.menu{

}

.sub_menu{}

.title{}

.caret{}

.negrita{
    font-weight: bold;
}

.cursiva{
    font-style: italic;
}

.subrayado{
    text-decoration: underline;
}